<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
    <script src='main.js'></script>
</head>
<body>

    <script>
        alert("worng password");
    </script>
    <div class="form-container">
        <h2>log in</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Enter your name" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="submit-btn">Login</button>
        </form>
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
        <p>비밀번호를 까먹었나요?</p>
        <a href="">여기를 누르세요</a>

        <div class="login-naver">
            <p>네이버로 로그인하기</p>
            <a href="/naver">네이버 로그인</a>
        </div>
    
        
        <div class="login-kakaotalk">
            <p>카카오톡으로 로그인하기</p>
            <a href="/kakaotalk">카카오톡 로그인</a>
        </div>
    
</body>
</html>